[submodule "lavurso-frontend"]
	path = lavurso-frontend
	url = https://github.com/annusingmar/lavurso-frontend.git
	branch = main
[submodule "lavurso-backend"]
	path = lavurso-backend
	url = https://github.com/annusingmar/lavurso-backend.git
	branch = main
